{% extends 'myuserhome.html' %}
{% load static %}
{% block searchbar %}
{% endblock %}

{% block artical %}
{% block quick_searchbar %}
{% endblock %}
{% block content %}
     <style>

        @media (max-width: 800px) {
            #viewFoodList div >img{
                height:25px;
                width:25px;
            }
            #viewFoodList div >p{
                font-size:22px;
            }
            .viewFoodHead{
            font-size:25px;
            font-weight:500;
            }
        }
        @media (min-width: 801px) {
            #viewFoodList div >img{
                height:35px;
                width:35px;
            }
            #viewFoodList div >p{
                font-size:32px;
            }
            .viewFoodHead{
                font-size:30px;
                font-weight:500;
            }
        }
    </style>

    <div class="viewFoodHead mr-md-auto text-left col-11 ml-3 ml-md-4">
        {% if dishMetaData.1 == dishMetaData.0 %}
           <a href="{{curl}}">Catagory</a> >> <a>{{dishMetaData.0}}</a>
        {% else %}
            <a href="{{curl}}">Catagory</a> >> <a href="{{curl}}myuser/viewsubcat/?catid={{dishMetaData.2}}">{{dishMetaData.0}}</a> >> <a>{{dishMetaData.1}}</a>
        {% endif %}
    </div>
    <div class="form-inline mx-auto mx-md-0 ml-md-4 col-11 ">
        <input style="background:transparent;border:none" id="searchFoodField" class="text-light form-control border-bottom rounded-0 " type="text" placeholder="Search dish" onkeyup="searchFood()" onfocus="inputFocus(this)">
    </div>
    <div id="viewFoodList" class="col-12 row">
    {% for food in foodlist  %}
        <div class="foodBlock float-left col-md-5 my-3 p-3 col-10 mx-auto border border-success">
            <div>
                <img class="m-2 mr-4" style="float:left;" src="{% static 'Images/veg_icon.jpg' %}">
                <p>{{food.3}}</p>
            </div>
            <div>
                <span class="small">{{food.5}}</span>
            </div>
            <div class="row">
                <div class="col-auto mr-auto">
                    <span class="my-3" style="font-size:30px;"> &#8377;</span> <span style="font-size:30px;">  {{food.4}}</span>
                </div>
                <div class="col-auto ml-auto">
                    <button onclick=addItem(this) class="px-4 py-2 submit btn btn-success rounded-0" style="float:right">ADD</button>
                </div>
                <span class="noOfItem" hidden>0</span>
            </div>
        </div>
    {% endfor %}
    </div>
        <script>
        $(document).ready(function(){
            listItems=$('#viewFoodList').children().length;
            orderedItems=JSON.parse(localStorage.getItem('cartItems'))
            orderedItemsList=Object.keys(orderedItems)
            for(i=0;i<listItems;i++){
                foodItem=$('#viewFoodList').children().eq(i)
                foodName=$(foodItem).children().eq(0).children().eq(1).html()
                if ( orderedItemsList.indexOf(foodName)!=-1){
                    $(foodItem).children().eq(2).children().eq(1).html(
                    `
                    <button class="border-0 bg-white font-weight-bold " onclick="removeItemsPro(this)" onfocus="inputFocus(this)" ><span style="font-weight:700" class="h3">-</span></button>
                    <span style="font-weight:600" class="mx-3 pb-1 text-white " >${orderedItems[foodName]["noOfItems"]}</span>
                    <button class="border-0 text-success bg-white font-weight-bold " onclick="addItemsPro(this)" onfocus="inputFocus(this)" ><span style="font-weight:700" class="h3">+</span></button>

                    `
                    )
                }else{

                }

            }
        });

    function addItemsPro(addButton){
        dish = localStorage.getItem('cartItems');
        dish = JSON.parse(dish)
        var foodVar = $(addButton).parents().eq(2).children().eq(0).children().eq(1).html();
        noOfItem=parseInt($(addButton).parents().eq(0).children().eq(1).html());
        noOfItem+=1;
        dish[foodVar]["noOfItems"]=noOfItem
        $(addButton).parents().eq(0).children().eq(1).html(noOfItem);
        localStorage.setItem('cartItems',JSON.stringify(dish))
    }
    function removeItemsPro(removeButton){
        dish = localStorage.getItem('cartItems');
        dish = JSON.parse(dish)
        var foodVar = $(removeButton).parents().eq(2).children().eq(0).children().eq(1).html();
        noOfItem=parseInt($(removeButton).parents().eq(0).children().eq(1).html());
        if ( noOfItem >1){
        noOfItem-=1;
        dish[foodVar]["noOfItems"]=noOfItem
        $(removeButton).parents().eq(0).children().eq(1).html(noOfItem);
        localStorage.setItem('cartItems',JSON.stringify(dish))
        }else{
            delete dish[foodVar];
            localStorage.setItem('cartItems',JSON.stringify(dish));
            foodNumber=parseInt(localStorage.getItem('cartNumber'))
            if(foodNumber>1){
                localStorage.setItem('cartNumber',foodNumber-1);
                $("#cartValue").html(foodNumber-1)
            }else{
                $("#cartValue").html('')
                localStorage.removeItem('cartNumber');
                localStorage.removeItem('cartItems');
            }
            $(removeButton).parent().html(`<button onclick=addItem(this) class="px-4 py-2 submit btn btn-success rounded-0" style="float:right">ADD</button>`);
        }
    }


        var foodVar="";
        var priceVar="";

        function addItem(buttonId){
            var foodNumber=localStorage.getItem('cartNumber');

            if(!foodNumber){
                localStorage.setItem('cartNumber',1);

                $("#cartValue").html("1")

                foodVar=$(buttonId).parents().eq(2).children().eq(0).children().eq(1).html();
                console.log(foodVar)
                priceVar=$(buttonId).parents().eq(1).children().eq(0).children().eq(1).html()
                console.log(priceVar)
                dish={[foodVar]:{food:foodVar,price:priceVar,noOfItems:1}}

                localStorage.setItem('cartItems',JSON.stringify(dish));
            }else{
                dish = localStorage.getItem('cartItems');
                dish = JSON.parse(dish)

                foodVar=$(buttonId).parents().eq(2).children().eq(0).children().eq(1).html();
                console.log(foodVar)
                priceVar=$(buttonId).parents().eq(1).children().eq(0).children().eq(1).html()
                console.log(priceVar)
                if (!dish[foodVar]){
                    dish[foodVar]={food:foodVar,price:priceVar,noOfItems:1}
                    foodNumber=parseInt(foodNumber)
                    localStorage.setItem('cartNumber',foodNumber+1);
                    $("#cartValue").html(foodNumber+1)
                }else{
                dish[foodVar]["noOfItems"]=parseInt(dish[foodVar]["noOfItems"])+1
                }

                localStorage.setItem('cartItems',JSON.stringify(dish))

            }
        $(buttonId).parent().html(`
        <button class="border-0 bg-white font-weight-bold " onclick="removeItemsPro(this)" ><span style="font-weight:700" class="h3">-</span></button>
        <span style="font-weight:600" class="mx-3 pb-1 text-white " >1</span>
        <button class="border-0 text-success bg-white font-weight-bold " onclick="addItemsPro(this)" ><span style="font-weight:700" class="h3">+</span></button>
        `)
           }
        </script>
{% endblock%}
{% block quick_menu%}
    <div></div>
{% endblock%}
{% endblock%}
