@charset "utf-8";

   #snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color:#151515;
  color: orange;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top:170px;
  font-size: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {left: 0; opacity: 0;}
  to {left: 50%; opacity: 1;}
}

@keyframes fadein {
  from {left: 0; opacity: 0;}
  to {left: 50%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {left: 50%; opacity: 1;}
  to {left: 0; opacity: 0;}
}

@keyframes fadeout {
  from {left:  50%; opacity: 1;}
  to {left: 0; opacity: 0;}
}