{% extends 'base.html' %}

{% block slider %}

{% endblock %}

{% block menu %}
   <style>
        .switch {
          width: 60px;
          height: 34px;
        }

        .slider {
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: red;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #27da21;
        }

        input:checked + .slider:before {
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
        </style>
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href={{curl}}>BOOK MY MEAL</a>
            <button style="border:3px solid black;" class=" navbar-toggler ml-auto right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="h4 mb-0 fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse f-left" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="adminHomeNav nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{{curl}}dp/" >Home</a></li>
                    <li class="adminOrderNav nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{{curl}}dp/previousOrders/" >Previous Orders </a></li>
                    <li class="adminUserNav nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{{curl}}dp/editProfile/" >Edit Profile</a></li>
                    <li class="adminUserNav nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{{curl}}dp/logout/" >Logout</a></li>
                    <li class="adminUserNav nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{{curl}}dp/" >Help</a></li>
                </ul>
            </div>
    {% csrf_token %}
    <label class="switch position-relative ml-2 mt-2 f-right" data-toggle="tooltip" data-placement="bottom" title="Please Activate Delivery Partner Id"><input id="toggleDpStatusBtn" type="checkbox"><span class="slider round position-absolute"></span></label>

<script>
        $(document).ready(function(){
            $('.adminHomeNav').addClass('active');
            $('.adminOrderNav').removeClass('active');
            $('.adminUserNav').removeClass('active');
            $('.adminPayNav').removeClass('active');
            $('.adminManNav').removeClass('active');
            $('.adminSetNav').removeClass('active');

            if(parseInt({{orderStatus}})==1){
                $('#acceptOrderBtn').parents().eq(0).addClass('d-none')
                $('#pickUpOrderBtn').parents().eq(0).removeClass('d-none')
                $('#deliveredOrderBtn').parents().eq(0).addClass('d-none')
           }else{
                if(parseInt({{orderStatus}})==2){
                    $('#deliveredOrderBtn').parents().eq(0).removeClass('d-none')
                    $('#acceptOrderBtn').parents().eq(0).addClass('d-none')
                    $('#pickUpOrderBtn').parents().eq(0).addClass('d-none')
                    }
                else{
                    $('#acceptOrderBtn').parents().eq(0).removeClass('d-none')
                    $('#pickUpOrderBtn').parents().eq(0).addClass('d-none')
                    $('#deliveredOrderBtn').parents().eq(0).addClass('d-none')
                    }
                }

            if({{dpStatus}}){
                $('#toggleDpStatusBtn').attr('checked','true')
                $('[data-toggle="tooltip"]').tooltip('hide')
                $('#toggleDpStatusBtn').parents().eq(0).attr('title','Delivery Partner Id is Active')

            }else{
                $('#toggleDpStatusBtn').removeAttr('checked')
                $('[data-toggle="tooltip"]').tooltip('show')
            }
            });


    $('#toggleDpStatusBtn').click(function(){

        if ($("#toggleDpStatusBtn").is(":checked")){
            status=1
            $('#toggleDpStatusBtn').parents().eq(0).attr('title','Delivery Partner Id is Active')
        }else{
            status=0
            $('#toggleDpStatusBtn').parents().eq(0).attr('title','Please Activate Delivery Partner Id')
        }

        $.ajax('{{curl}}dp/changeStatus/', {
            type: 'POST',
            data: {
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            status:status
            },
            dataType:"json",
            success: function (data, status, xhr) {
              if(parseInt(data['op'])==1){
                    location.reload()
              }
               },
            error: function (jqXhr, textStatus, errorMessage) {
            }
        });
    });
    </script>
{% endblock %}

{% block artical%}
{% block searchbar%}
{% endblock%}

{% block content %}

        {% if noOfOrder is 0 %}
            <div style="background-color:rgb(49, 46, 46)" class="col-11 mx-auto ml-4 center col-md-6 col-lg-5 mb-3 py-4">
                <span class="h3">No order Found</span>
            </div>
        {% else %}

        <div class="orderListBlock m-md-5 pr-md-4 col-12 row">
		{% for order in orders %}
	<div style="background-color:rgb(49, 46, 46)" class="col-12 ml-4 col-md-5 mx-md-3 my-3 p-3" onmouseover="trMouseOver(this)" onmouseleave="trMouseOut(this)">
		<div class="row">
			<div class="col-md-5 col-6 text-primary mb-3 h5">
              <span># </span>
              <span>{{order.0}}</span>
			</div>
			<div class="col-6 col-md-7 ml-auto text-warning h5">{{order.2.0}} {{order.2.1}} {{order.2.2}}/{{order.2.3}}/{{order.2.4}}</div>
		</div>
        <div class="row">
            <div class="col-auto h3 font-weight-bold"><i class="fas fa-user"></i> <span>{{order.1}}</span></div>
        </div>
        <div class="row h5">
            <div class="col-11"><i class="text-danger fas fa-map-marker-alt"> </i>
              <span> {{order.3.0}} {{order.3.1}} {{order.3.4}} {{order.3.2}} {{order.3.3}}</span>
            </div>
        </div>
        <div class="row my-3">
			<div class="col-md-5 col-6 mb-3 h5">
              <span>Via {{order.4}}</span>
			</div>
            {% if order.5 is 0 %}
	    		<div class="col-6 col-md-7 ml-auto right text-danger h5"><i class="mr-3 fas fa-exclamation-triangle" ></i><span> Failed</span></div>
            {% else %}
                <div class="col-6 col-md-7 ml-auto right text-success h5"><i class="mr-3 fa fa-check" ></i><span> Delivered</span></div>
            {% endif %}
		</div>
	</div>{% endfor %}</div>
        {% endif %}
    <script>

           function trMouseOver(trField){
		    $(trField).css('background-color','#A5066D');
		    }

		    function trMouseOut(trField){
		    $(trField).css('background-color','rgb(49, 46, 46)');
		    }
    </script>
{% endblock%}

{% block quick_menu%}
{% endblock%}

{% endblock%}