
{% extends 'userBase.html' %}
{% load static %}
{% block slider %}

{% endblock %}

<!--
    {% for catagory in catagories%}

-->


<div class="container mt-4">
  <button class="accordion">
    <div class="row">
      <div class="col-4 col-md-2 img-fluid">
        <img src="{% static 'image/staple.jpg' %}" />
      </div>
      <div class="col-8 col-md-10 temp">
        <u
          ><b><br />Grocery & Staples</b></u
        ><br />Pulses, Atta & Other Flours, Rice & Other Grains, Dry Fruits &
        Nuts, Edible Oils, Ghee & Vanaspati, Spices, Salt & Sugar, Organic
        Staples, Grocery Best Offers.
      </div>
    </div>
  </button>
  <div class="panel">
    <div class="row mt-4">
      <div class="col-sm">
        <div class="card text-center row">
          <div class="col-12">
            <img
              alt="Card image cap"
              class="cimg"
              src="{% static 'image/pulses.jpg' %}"
            />
          </div>
          <div class="card-block col-12">
            <h6 class="card-title"><b>Pulses</b></h6>

            <a href=" " class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">
          <div class="col-12">
            <img
              alt="Card image cap"
              class="cimg"
              src="{% static 'image/oils.jpg' %}"
            />
          </div>
          <div class="card-block">
            <h6 class="card-title"><b>Oils</b></h6>

            <a href=" " class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">
          <div class="col-12">
            <img
              alt="Card image cap"
              class="cimg"
              src="{% static 'image/atta.jpg' %}"
            />
          </div>
          <div class="card-block">
            <h6 class="card-title"><b>Atta</b></h6>

            <a href=" " class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">
          <div class="col-12">
            <img
              alt="Card image cap"
              class="cimg"
              src="{% static 'image/nuts.jpg' %}"
            />
          </div>
          <div class="card-block">
            <h6 class="card-title"><b>Nuts</b></h6>

            <a
              href="https://www.linkedin.com/in/akanksha-ingle"
              class="stretched-link"
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">
          <div class="col-12">
            <img
              alt="Card image cap"
              class="cimg"
              src="{% static 'image/spices.jpg' %}"
            />
          </div>
          <div class="card-block">
            <h6 class="card-title"><b>Spices</b></h6>

            <a
              href="https://www.linkedin.com/in/akanksha-ingle"
              class="stretched-link"
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">
          <div class="col-12">
            <img
              alt="Card image cap"
              class="cimg"
              src="{% static 'image/salt.jpg' %}"
            />
          </div>
          <div class="card-block">
            <h6 class="card-title"><b>Salt & Sugar</b></h6>

            <a
              href="https://www.linkedin.com/in/akanksha-ingle"
              class="stretched-link"
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">
          <div class="col-12">
            <img
              alt="Card image cap"
              class="cimg"
              src="{% static 'image/rice.jpg' %}"
            />
          </div>
          <div class="card-block">
            <h6 class="card-title"><b>Rice</b></h6>

            <a
              href="https://www.linkedin.com/in/akanksha-ingle"
              class="stretched-link"
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">
          <div class="col-12">
            <img
              alt="Card image cap"
              class="cimg"
              src="{% static 'image/organic.jpg' %}"
            />
          </div>
          <div class="card-block">
            <h6 class="card-title"><b>Organic</b></h6>

            <a
              href="https://www.linkedin.com/in/akanksha-ingle"
              class="stretched-link"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

{% endfor %} 
-->
{% block footer %}

{% endblock %} 
