{% extends 'base.html' %}



{% block slider%}
<div id="snackbar">{{output}}</div>
<script>
var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);

</script>


{% endblock %}

{% block artical %}
{%  block searchbar %}
{% endblock %}
    <style>

	.shake{
		animation-name:shake;
		animation-duration: 0.25s;
		animation-iteration-count:1;
		animation-delay:0.25s;
	}
	@keyframes shake{
		0% {transform:translateX(-5px);}
		25% {transform:translateX(5px);}
		50% {transform:translateX(-5px);}
		75% {transform:translateX(5px);}
		100% {transform:translateX(-5px);}
	}
    </style>
    <div style="background-color:rgb(49, 46, 46)" class="fpGetOtpBlock col-11 col-md-6 col-lg-5 mb-3 py-4  mx-auto">
        <div class="row">
            <label style="font-size:12px" class="invisible text-light col-11 ml-3">Enter Your Register Email</label>
            <input style="border:none;background:none;border-radius:0px;font-size:20px;" class="registeredMailField col-11 ml-3 form-control text-light border-bottom border-light" type="text" placeholder="Enter Your Registered Email" onfocus="inputFocus(this)" onfocusin="placeholderTogglerFocusIn(this)" onfocusout="placeholderTogglerFocusOut(this)">
            <label class="fpMailValidLabel invisible small text-danger mt-1 col-11">Please Enter Correct Email</label>
        </div>
        <div class="row mt-4">
            <input id="fpGetOtpBtn" class="form-control col-4 mx-auto btn btn-success" type="submit" value="GET OTP" >
        </div>
    </div>
    <div style="background-color:rgb(49, 46, 46)" class="fpCheckOtpBlock col-11 col-md-6 col-lg-5 mb-3 py-4 mx-auto">
            <div class="row">
                <label style="font-size:12px" class="text-light col-11 ml-3">Registered Email</label>
                <input style="border:none;background:none;border-radius:0px;font-size:20px;" class="fpRegisteredMail col-11 disabled ml-3 form-control text-light border-bottom border-light" type="text" onfocus="inputFocus(this)" disabled>
            </div>
            <div class="row"><button style="border:none;background:none;" class="fpChangeMail text-primary col-auto ml-auto pointer" onfocus="inputFocus(this)">Change Mail</button></div>
            <div class="row">
                <label style="font-size:12px" class="invisible text-light col-11 ml-3">Enter OTP</label>
                <input style="border:none;background:none;border-radius:0px;font-size:20px;" class="fpOtpField col-11 ml-3 form-control text-light border-bottom border-light" type="text" placeholder="Enter OTP"  onfocus="inputFocus(this)" onfocusin="placeholderTogglerFocusIn(this)" onfocusout="placeholderTogglerFocusOut(this)">
            </div>
            <div class="row">
                <label style="display:none" class="fpOtpValidLabel col-auto mt-1 mr-auto text-danger small">Please Enter Correct OTP</label>
                <label style="display:none" class="fpResendOtpLabel col-auto mt-1 mr-auto text-success small">OTP sent Successfully</label>
                <button id="fpResendOtp" style="border:none;background:none;" class=" text-primary col-auto ml-auto" onfocus="inputFocus(this)">Resend OTP</button>
            </div>
            <div class="row mt-4">
                <input class="fpCheckOtp form-control col-5 offset-3 btn btn-success" type="submit" value="CHECK OTP" >
            </div>
    </div>
    <div style="background-color:rgb(49, 46, 46)" class="fpResetPasswordBlock col-11 col-md-6 col-lg-5 mb-3 py-4 mx-auto">
        <form action="{{curl}}resetPswd/" method="POST" oninput='fpConfirmPassword.setCustomValidity(fpConfirmPassword.value != fpNewPassword.value ? "Passwords do not match." : "")'>
            {% csrf_token %}
            <div class="row">
                <label style="font-size:12px" class="invisible text-light col-11 ml-3">Enter New Password</label>
                <input style="border:none;background:none;border-radius:0px;font-size:20px;" class="col-9 ml-3 form-control text-light border-bottom border-light" type="password"  placeholder="Enter New Password"  name="fpNewPassword" onfocus="inputFocus(this)" onfocusin="placeholderTogglerFocusIn(this)" onfocusout="placeholderTogglerFocusOut(this)" >
                <button style="border-radius:0px;background:none;border:none;" class="border-bottom border-light btn btn-default col-2" type="button" onfocus="inputFocus(this)" onclick="togglePassword(this)">
                    <i style="font-size:30px;" class="fas fa-eye-slash text-light" ></i>
                </button>
            </div>
            <div class="row mt-4">
                <label style="font-size:12px" class="invisible text-light col-11 ml-3">Confirm New Password</label>
                <input style="border:none;background:none;border-radius:0px;font-size:20px;" class="col-9 ml-3 form-control text-light border-bottom border-light" type="password" placeholder="Confirm New Pasword" name="fpConfirmPassword" onfocus="inputFocus(this)" onfocusin="placeholderTogglerFocusIn(this)" onfocusout="placeholderTogglerFocusOut(this)">
                <button style="border-radius:0px;background:none;border:none;" class="border-bottom border-light  btn btn-default col-2" type="button" onfocus="inputFocus(this)" onclick="togglePassword(this)">
                    <i style="font-size:30px;" class="fas fa-eye-slash text-light" ></i>
                </button>
            </div>
            <div class="row mt-4">
                <input class="form-control col-6 mx-auto btn btn-success" type="submit" value="Reset Password" >
            </div>
        </form>
    </div>
    <script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function placeholderTogglerFocusIn(inputField){
        addressDiv=$(inputField).parent().children();
        $(addressDiv.eq(0)).removeClass('invisible');
        $(addressDiv.eq(1).attr('placeholder',''));
    }
    function placeholderTogglerFocusOut(inputField){
		addressDiv=$(inputField).parent().children();
		if (!$(addressDiv.eq(1)).val()){
		$(addressDiv.eq(0)).addClass('invisible');
		$(addressDiv.eq(1).attr('placeholder',$(addressDiv.eq(0)).html()));
		}
    }
    function inputFocus(field){
        $(field).css('outline','0');
        $(field).css('box-shadow','none');
    }

    $(document).ready(function(){
        $('.fpCheckOtpBlock').hide();
        $('.fpResetPasswordBlock').hide();
    });

	$('#fpGetOtpBtn').click(function(e){
		e.preventDefault();
		registeredMail=$(".registeredMailField").val();
        $.ajax('{{curl}}forgotPassword/',{
        type:'POST',
        data:{
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        email:registeredMail
        },
        dataType:"json",
        success:async function(data){
               if(data['otp']==1){
                   $('.fpGetOtpBlock').hide()
                   $('.fpCheckOtpBlock').fadeIn();
                   $('.fpRegisteredMail').val(data["email"])
               }else{
                    $(".fpMailValidLabel").removeClass('invisible');
                    $('.fpMailValidLabel').addClass('shake');
                    await sleep(500);
                    $('.fpMailValidLabel').removeClass('shake');
               }
           },
        error:function(){

        }
        });
	});

    $('#fpResendOtp').click(function(e){
        e.preventDefault();
        registeredMail=$('.fpRegisteredMail').val()
        $.ajax('{{curl}}resendOtp/',{
        type:'POST',
        data:{
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        email:registeredMail
        },
        dataType:"json",
        success:async function(data){
            $('.fpResendOtpLabel').fadeIn("fast");
            $('.fpOtpValidLabel').css('display','none');
            },
        error:function(){

        }
        });
    });
    $('.fpCheckOtp').click(function(e){
        e.preventDefault();
        userOtp=$('.fpOtpField').val()
        $.ajax('{{curl}}verifyotp/',{
        type:'POST',
        data:{
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        otp:userOtp
        },
        dataType:"json",
        success:async function(data){
            if (data['otp']==0){
            $('.fpResendOtpLabel').hide();
            $('.fpOtpValidLabel').fadeIn('fast');
            $('.fpOtpValidLabel').addClass('shake');
            await sleep(500);
            $('.fpOtpValidLabel').removeClass('shake');

            }else{
                $('.fpCheckOtpBlock').hide();
                $('.fpResetPasswordBlock').fadeIn();
            }
            },
        error:function(){

        }
        });
    });
	$('.fpChangeMail').click(function(e){
        e.preventDefault();
        $('.fpCheckOtpBlock').hide();
        $('.fpGetOtpBlock').fadeIn();
	});

    </script>
{% block quick_menu%}
{% endblock %}

{% endblock %}


